@import '../bp';

.desk-store {
  .catalogue {
    .item {
      border-radius: 8px;
      height: fit-content;

      .cover-media {
        display: grid;
        grid-template-areas: 'A';
        justify-content: center;
        align-items: center;
        
        .media {
          grid-area: A;
          opacity: 1;
          box-sizing: border-box;
          object-fit: cover;
          width: calc((100vw - 60px) / 2);
          height: calc((100vw - 60px) / 2);
          padding: 8px;
  
          @include sm {
            width: calc((100vw - 80px) / 3);
            height: calc((100vw - 80px) / 3);
          }
          @include md {
            width: calc((100vw - 340px) / 3);
            height: calc((100vw - 340px) / 3);
          }
          @include lg {
            width: 220px;
            height: 220px;
          }
        }
        .action {
          transition-duration: 500ms;
          grid-area: A;
          display: flex;
          background-color: rgba($color: #FFFFFF, $alpha: 0);
          width: calc((100vw - 60px) / 2);
          height: calc((100vw - 60px) / 2);
  
          @include sm {
            width: calc((100vw - 80px) / 3);
            height: calc((100vw - 80px) / 3);
          }
          @include md {
            width: calc((100vw - 340px) / 3);
            height: calc((100vw - 340px) / 3);
          }
          @include lg {
            width: 220px;
            height: 220px;
          }
  
          .goTo {
            transition-duration: 200ms;
            opacity: 0;
            width: 160px;
            height: 45px;
            margin: auto;
            font-family: 'Dosis', sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            border: solid 1px #A52518;
            background-color: #FFFFFF;
          }
          .goTo:hover {
            background-color: #A52518;
            color: #FFFFFF;
          }

        }
      }
      .info {
        .name {
          margin: 8px auto;
          text-align: center;
          text-transform: capitalize;
        }
        .price-buy {
          display: flex;
          flex-direction: column;
          padding: 16px 0;
          border-top: #A52518 1px solid;
          margin: 0 16px;
          justify-content: space-between;
          align-items: center;
  
          @include sm {
            flex-direction: row;
          }
  
          .buy {
            width: 100px;
            height: 32px;
            font-family: 'Dosis', sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            border: solid 1px #A52518;
            background-color: #FFFFFF;
            transition-duration: 200ms;
          }
          .buy:hover{
            background-color: #A52518;
            color: #FFFFFF;
          }
        }
      }
    }
    .item:hover {
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
      .cover-media {
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        overflow: hidden;
        .action {
          background-color: rgba($color: #FFFFFF, $alpha: 0.5);
          .goTo {
            opacity: 1;
          }
        }
      }
    }
  }
}