// Font paths
// -------------------------

@font-face {
  font-family: "desksuite-icons";
  src: url("/sites/yhs/src/styles/utilities/desksuite-icons/fonts/desksuite-icons.eot");
  src: url("/sites/yhs/src/styles/utilities/desksuite-icons/fonts/desksuite-icons.eot?#iefix") format("embedded-opentype"),
       url("/sites/yhs/src/styles/utilities/desksuite-icons/fonts/desksuite-icons.woff2") format("woff2"),
       url("/sites/yhs/src/styles/utilities/desksuite-icons/fonts/desksuite-icons.woff") format("woff"),
       url("/sites/yhs/src/styles/utilities/desksuite-icons/fonts/desksuite-icons.ttf") format("truetype"),
       url("/sites/yhs/src/styles/utilities/desksuite-icons/fonts/desksuite-icons.svg#desksuite-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "desksuite-icons";
    src: url("/sites/yhs/src/styles/utilities/desksuite-icons/fonts/desksuite-icons.svg#desksuite-icons") format("svg");
  }
}