.p-mi-cuenta {
  .s-menu.el-menu--horizontal{
    display: flex;
    justify-content: center;
  }
  .s-datos {
    padding: 0 20px;
  }
  .s-acciones.s-acciones--centrado {
    display: flex;
    justify-content: center;
  }
  #btn-salir {
    margin-top: -24px;
    font-style: italic;
    color: $color-brand-secondary;
  }
}