%s-listado {
  padding: 20px;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 20px;

  @include md {
    grid-template-columns: repeat(2, 400px);
  }
}

%s-media {
  width: calc(100vw - 40px - 40px);
  height: calc(((100vw - 40px - 40px) / 4) * 3);
  object-fit: cover;
  object-position: center;

  @include md {
    width: 400px;
    height: 300px;
    margin: -20px -20px 0px -20px;
  }
}

.p-blog {
  background-color: ghostwhite;

  @include md {
    min-height: calc(100vh - 112px - 170px);
  }

  .s-contenido {
    width: 100vw;
    max-width: 860px;
    display: flex;
    flex-direction: row;

    @include md {
      margin-right: auto;
      margin-left: auto;

    }

    .s-list {
      @extend %s-listado;

      .i-entry {

        .s-media {
          @extend %s-media;
        }

        .s-title {
          padding: 0px 20px;
          text-transform: capitalize;
        }

        .s-texto {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .s-tags {
          margin-bottom: 16px;

          .el-tag {
            margin-right: 8px;
          }
        }

        .s-action {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}