.p-tienda {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;

  @include sm {
    padding: 20px 20px;
    padding-bottom: 0;
  }

  .s-contenido {
    width: 100%;

    .s-catalogo {
      $item-width: calc((100vw - 80px) / 2);
      $item-width-sm: calc((100vw - 100px) / 3);
      $item-width-md: calc((100vw - 120px) / 4);
      $item-width-lg: calc((1200px - 120px) / 4);
      $item-foto-size: calc((100vw - 80px - 80px) / 2);
      $item-foto-size-sm: calc((100vw - 100px - 120px) / 3);
      $item-foto-size-md: calc((100vw - 120px - 120px) / 4);
      $item-foto-size-lg: calc((1200px - 120px - 120px) / 4);

      display: grid;
      grid-template-columns: repeat(2, $item-width);
      grid-auto-rows: auto;
      grid-gap: 20px;
      padding: 0 20px;

      @include sm {
        grid-template-columns: repeat(3, $item-width-sm);
        padding: 0;
      }

      @include md {
        grid-template-columns: repeat(4, $item-width-md);
      }

      @include lg {
        grid-template-columns: repeat(4, $item-width-lg);
      }

      .s-foto {
        width: $item-foto-size;
        height: $item-foto-size;
        object-fit: contain;

        @include sm {
          width: $item-foto-size-sm;
          height: $item-foto-size-sm;
        }

        @include md {
          width: $item-foto-size-md;
          height: $item-foto-size-md;
        }

        @include lg {
          width: $item-foto-size-lg;
          height: $item-foto-size-lg;
        }
      }

      .s-info {
        display: flex;
        flex-direction: column;

        .s-item-nombre {
          height: 40px;
          font-size: 12px;
          text-align: center;
          text-transform: uppercase;
        }

        .s-item-precio {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-end;
          font-size: 25px;
          text-align: center;
          text-transform: uppercase;

          .s-simbolo {
            font-size: 20px;
            margin-right: 8px;
          }
        }

        .s-item-no-disponible {
          color: $--color-warning;
          font-size: 12px;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }

    .s-catalogo-pie {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}