@import './bp';

/* CONST */
@import './_lib/const';

/* BASE */
@import './_lib/base';

/* PAGE IMPORTS */
@import './user/user';

%button {
  width: fit-content;
  height: 60px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 8px;
  border: 1px solid $color-brand-primary;
  background-color: white;
  color: $color-brand-secondary;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

%button:hover {
  background-color: $color-brand-primary;
  color: $color-brand-secondary-alt;
}

#footer {
  display: grid;
  grid-template-columns: 1fr;;
  grid-template-rows: 1fr;

  .salon {
    padding: 12px;

    .name {
      font-weight: 600;
      font-size: 18px;
    }
    .address {
      display: flex;
      .label {
        margin-right: 12px; 
      }
    }
  }
}

