@import './bp.scss';
@import url('https://fonts.googleapis.com/css?family=Lora');

.desk-store {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 0px auto;
  box-sizing: border-box;

  @include sm {
  }
  @include md {
    grid-template-columns: 240px auto;
    grid-column-gap: 20px;
  }
  @include xl {
    grid-template-columns: 240px auto;
  }

  .filters {
    display: none;
    width: 240px;
    padding-left: 20px;
    border-right: #A52518 1px solid;
    box-sizing: border-box;

    @include md {
      display: flex;
      flex-direction: column;
    }

    .el-tree {
      // font-family: 'Lora', serif;
      .el-checkbox__inner{
        margin-bottom: 3px;
      }
      .el-tree-node__label::before {
        border-left: #A52518 4px solid;
        margin-right: 16px;
        content: ''
      }
    }
  }
  .catalogue{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, calc((100vw - 60px) / 2));
    grid-gap: 20px;
    @include sm {
      grid-template-columns: repeat(3, calc((100vw - 80px) / 3));
    }
    @include md {
      grid-template-columns: repeat(3, calc((100vw - 340px) / 3));
    }
    @include lg {
      grid-template-columns: repeat(4, 220px);
    }
    .item {
      border-radius: 8px;
    }
    .item:hover {
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
      .cover-media {
        .action {
          background-color: rgba($color: #FFFFFF, $alpha: 0.5);
          .goTo {
            opacity: 1;
          }
        }
      }
    }
    .cover-media {
      display: grid;
      grid-template-areas: 'A';
      justify-content: center;
      align-items: center;
      
      .media {
        grid-area: A;
        opacity: 1;
        box-sizing: border-box;
        object-fit: cover;
        width: calc((100vw - 60px) / 2);
        height: calc((100vw - 60px) / 2);
        padding: 8px;

        @include sm {
          width: calc((100vw - 80px) / 3);
          height: calc((100vw - 80px) / 3);
        }
        @include md {
          width: calc((100vw - 340px) / 3);
          height: calc((100vw - 340px) / 3);
        }
        @include lg {
          width: 220px;
          height: 220px;
        }
      }
      .action {
        transition-duration: 500ms;
        grid-area: A;
        display: flex;
        background-color: rgba($color: #FFFFFF, $alpha: 0);
        width: calc((100vw - 60px) / 2);
        height: calc((100vw - 60px) / 2);

        @include sm {
          width: calc((100vw - 80px) / 3);
          height: calc((100vw - 80px) / 3);
        }
        @include md {
          width: calc((100vw - 340px) / 3);
          height: calc((100vw - 340px) / 3);
        }
        @include lg {
          width: 220px;
          height: 220px;
        }

        .goTo {
          transition-duration: 500ms;
          opacity: 0;
          width: 160px;
          height: 45px;
          margin: auto;
          font-family: 'Dosis', sans-serif;
          font-weight: 600;
          text-transform: uppercase;
          border: solid 1px #A52518;
          background-color: #FFFFFF;
        }
      }
    }
    .info {
      .name {
        margin: 8px auto;
        text-align: center;
        text-transform: capitalize;
      }
      .price-buy {
        display: flex;
        flex-direction: column;
        padding: 16px 0;
        border-top: #A52518 1px solid;
        margin: 0 16px;
        justify-content: space-between;
        align-items: center;

        @include sm {
          flex-direction: row;
        }

        .buy {
          width: 100px;
          height: 32px;
          font-family: 'Dosis', sans-serif;
          font-weight: 600;
          text-transform: uppercase;
          border: solid 1px #A52518;
          background-color: #FFFFFF;
          transition-duration: 200ms;
        }
        .buy:hover{
          background-color: #A52518;
          color: #FFFFFF;
        }
      }
    }
  }

}