/*
 * Icon Font desksuite-icons
 * Made with love by Icons8 [ https://icons8.com/ ] using FontCustom [ https://github.com/FontCustom/fontcustom ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */


@font-face {
  font-family: "desksuite-icons";
  src: url("../fonts/desksuite-icons.eot");
  src: url("../fonts/desksuite-icons.eot?#iefix") format("embedded-opentype"),
       url("../fonts/desksuite-icons.woff2") format("woff2"),
       url("../fonts/desksuite-icons.woff") format("woff"),
       url("../fonts/desksuite-icons.ttf") format("truetype"),
       url("../fonts/desksuite-icons.svg#desksuite-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "desksuite-icons";
    src: url("../fonts/desksuite-icons.svg#desksuite-icons") format("svg");
  }
}

[data-icons8]:before { content: attr(data-icons8); }

.icons8, [data-icons8]:before,
.icons8-menu:before,
.icons8-search:before,
.icons8-shopping-bag:before,
.icons8-user:before {
  display: inline-block;
  font-family: "desksuite-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icons8-menu:before { content: "\f102"; }
.icons8-search:before { content: "\f103"; }
.icons8-shopping-bag:before { content: "\f101"; }
.icons8-user:before { content: "\f100"; }