.p-mi-cuenta {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;

  @include sm {
    padding: 0 20px;
  }

  .s-encabezado {
    .s-acciones.s-acciones--centrado {
      display: flex;
      justify-content: center;
    }
  }
  .s-contenido {
    .s-menu.el-menu--horizontal{
      display: flex;
      justify-content: center;
    }
    @include sm {
      display: flex;
    }
    .s-menu {
      @include sm {
        width: 200px;
        min-height: 400px;
      }
    }
    .s-datos {
      @extend %margin-horizontal-auto;
      max-width: 468px;
      padding: 20px 20px;
      @include sm {
        margin: 0px;
        margin-left: 40px;
      }
    }
  }
  #btn-salir {
    margin-top: -24px;
    font-style: italic;
    color: $color-brand-secondary;
  }
}